@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  background-color: #011a32;
}
.home {
  padding-left: 8rem;
}
.login {
  font-size: 1rem;
  padding-top: 0.17rem;
  padding-left: 17rem;
}

/* .image-home {
  padding-left: 50rem;
} */
.description {
  /* line-width: 1.8; */
  letter-spacing: 3px;
  font-size: 1.4rem;
  font-family: "Tahoma";
}
.quote {
  font-family: "Homemade Apple", cursive;
  /* color: rgb(30, 99, 131); */
  color: #5dcfef;
  /* color: #40a8c4; */
  /* color: #70adb5; */
}
.myintro {
  /* letter-spacing: 0.05rem; */
  font-family: "Karla";
  font-size: 1.1rem;
}

.navbar {
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.25rem;
  padding-left: 1rem;
  background: rgba(1, 26, 50) !important;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.navbar-toggler {
  padding-right: 0.5rem;
}

.navbar-nav li {
  padding-right: 1rem;
  font-family: Roboto;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
  font-family: Roboto;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(9, 211, 172);
  font-family: Roboto;
}

.narrow {
  padding-top: 10rem;
  font-family: Roboto;
  color: rgb(9, 211, 172);
}
footer {
  width: 100%;
  background-color: black;
  /* background-color: #1d2d50;  */
  color: white;
  padding: 2rem 0 2rem;
  margin-right: 0rem;
  margin-top: 1rem;
}
.foot {
  background-color: black;
  /* background-color: #1d2d50;  */
}
.copyright {
  font-family: "Tahoma";
}
.navbar-left {
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.25rem;
  /* letter-spacing: 0.1rem; */
  padding-top: 10rem;
  padding-left: 1rem;
  background: rgba(1, 26, 50) !important;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.intro {
  color: white;
  margin-left: 15rem;
  margin-right: 15rem;
  font-family: "Lato";
  /* letter-spacing: 0.1rem; */
  line-height: 3rem;
}

.narrowt {
  color: #c0c0c0;
}
.feature {
  color: white;
  /* letter-spacing: 0.1rem; */
  margin-right: 10px;
}
.name {
  color: #49a1eb;
  font-family: "Lato";
}
a.linkedin {
  color: #49a1eb;
  margin: 20px 10px;
}
a.linkedinfooter {
  color: white;
  margin: 20px 10px;
}
a.instagram {
  color: white;
  margin: 20px 10px;
}
a.telegram {
  color: white;
  margin: 20px 10px;
}
a.hackerrank {
  color: white;
  margin: 20px 10px;
}
a.gmail {
  margin: 20px 10px;
  background-color: white;
}
.iconsfooter {
  background-color: black;
}

.heart {
  color: #da5a5a;
  /* font-size: 1.5rem; */
}

/* #custom-nav {
  -webkit-box-shadow: 20px 20px 20px #fc0;
  -moz-box-shadow: 20px 20px 20px #fc0;
  box-shadow: 20px 20px 20px #fc0;
  z-index: 999;
} */

@media only screen and (max-width: 1011px) {
  /* For mobile phones: */
  .home {
    padding-left: 0;
  }
  .login {
    padding-left: 0;
    font-size: 1.2rem;
  }
  .intro {
    line-height: 2;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
  .quote {
    line-height: 2;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
}

@media only screen and (min-width: 1011px) and (max-width: 1400px) {
  /* For tablets: */
  .home {
    padding-left: 0;
  }
  .login {
    padding-left: 0;
  }
  .quote {
    line-height: 2;
    margin-left: 0;
    margin-right: 0;
  }
}

/* 

 * {
  outline: 1px solid red;
} 

*/

body {
  overflow-x: hidden;
}
.hidden-thing {
  position: absolute;
  left: 100%;
  width: 50px;
  height: 50px;
  opacity: 0;
}
